.link__container {
  display: flex;
}

.link {
  padding: 0 30px;
  min-width: 140px;
  width: 220px;
  height: 50px;
  border: 2px solid var(--primary-darker);
  color: var(--primary-darker);
  font-size: 1.05rem;
  font-weight: var(--medium-weight);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: .3s ease-in-out;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
}

.link:hover {
  color: var(--body-background);
  background-color: var(--primary-darker);
}

.link__icon {
  font-size: 1.5rem;
}