:root {
  font-family: 'Poppins', sans-serif;

  --n-columns: repeat(2, max-content);

  /* ------------- Light Mode Settings ------------- */

  --primary: #4d4d4d;
  --primary-darker: #333333;
  --title-color: 	#252425;
  --text: #757575;
  --body-background: #fafafa;
  --container-background: #f3f3f3;
  --subtitle-color: #565656;

  --secondary: #FF6584;

  --normal-text: 1.35rem;
  --small-text: 0.95rem;
  --medium-text: 1.1rem;
  --large-text: 3rem;

  --normal-weight: 400;
  --medium-weight: 500;

  /* ------------- Dark Mode Settings ------------- */

  --dark-primary: #fafafa;
  /* #f3f3f3 */
  --dark-primary-darker: #f3f3f3;
  --dark-text: #cacaca;
  --dark-body-background: #363940;
  --dark-container-background: #40454b;
  --dark-subtitle-color: #d7d7d7;

}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-background);
  color: var(--text);
  min-width: 400px;
  transition: .4s;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  color: var(--title-color);
}

.title {
  font-size: var(--large-text);
  color: var(--title-color);
}

.subtitle {
  display: block;
  font-weight: var(--normal-weight);
  font-size: var(--small-text);
  margin-bottom: 4rem;
  color: var(--subtitle-color);
}

.title, .subtitle {
  text-align: center;
}

.description {
  color: var(--text);
}

.section {
  padding: 5rem 0 2rem;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}